<div class="w-126 bg-base-100 shadow-xl flex flex-col items-center p-5 rounded-2xl gap-10 mb-20">
  <h1 class="text-accent text-4xl marcellus
               font-bold mt-2 mr-2 drop-shadow-md
               select-none">Change your password</h1>
  <form [formGroup]="changePasswordForm" class="flex flex-col gap-4 items-center">
    <div class="flex flex-col gap-2 w-full">
      <div class="flex flex-col gap-2">
        <label for="currentPassword" class="marcellus text-accent">Current Password</label>
        <input
          [class.border-red-700]="changePasswordForm.get('currentPassword')?.touched&&(
          changePasswordForm.get('currentPassword')!.hasError('required')
          )"
          type="password" class="input input-bordered w-full max-w-xs" pInputText formControlName="currentPassword" id="currentPassword"/>
      </div>
      <p class="text-red-700" *ngIf="changePasswordForm.get('currentPassword')?.touched&&changePasswordForm.get('currentPassword')!.hasError('required')">Current password required.</p>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <label for="newPassword" class="marcellus text-accent">New Password</label>
        <input
          [class.border-red-700]="changePasswordForm.get('newPassword')?.touched&&(
          changePasswordForm.get('newPassword')!.hasError('required')
          )"
          type="password" class="input input-bordered w-full max-w-xs" pInputText formControlName="newPassword" id="newPassword"/>
      </div>
      <p class="text-red-700" *ngIf="changePasswordForm.get('newPassword')?.touched&&changePasswordForm.get('newPassword')!.hasError('required')">New password required.</p>
      <p class="text-red-700" *ngIf="changePasswordForm.get('newPassword')?.touched&&changePasswordForm.get('newPassword')!.hasError('minlength')&&!changePasswordForm.get('newPassword')!.hasError('required')">Password must have at least 8 characters.</p>
      <p class="text-red-700" *ngIf="changePasswordForm.get('newPassword')?.touched&&changePasswordForm.get('newPassword')!.hasError('maxlength')&&!changePasswordForm.get('newPassword')!.hasError('required')">Password must have maximum 128 characters.</p>
      <p class="text-red-700" *ngIf="changePasswordForm.get('newPassword')?.touched&&changePasswordForm.get('newPassword')!.hasError('noCapitalLetter')&&!changePasswordForm.get('newPassword')!.hasError('required')">Password must contain a capital letter.</p>
      <p class="text-red-700" *ngIf="changePasswordForm.get('newPassword')?.touched&&changePasswordForm.get('newPassword')!.hasError('noDigit')&&!changePasswordForm.get('newPassword')!.hasError('required')">Password must contain a digit.</p>
      <p class="text-red-700" *ngIf="changePasswordForm.get('newPassword')?.touched&&changePasswordForm.get('newPassword')!.hasError('noSymbol')&&!changePasswordForm.get('newPassword')!.hasError('required')">Password must contain a symbol.</p>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <label for="confirmNewPassword" class="marcellus text-accent">Confirm New Password</label>
        <input
          [class.border-red-700]="changePasswordForm.get('confirmNewPassword')?.touched&&(
          changePasswordForm.get('confirmNewPassword')!.hasError('required') ||
          changePasswordForm.hasError('passwordsDoNotMatch')
          )"
          type="password" class="input input-bordered w-full max-w-xs" pInputText formControlName="confirmNewPassword" id="confirmNewPassword"/>
      </div>
      <p class="text-red-700" *ngIf="changePasswordForm.get('confirmNewPassword')?.touched&&changePasswordForm.get('confirmNewPassword')!.hasError('required')">You must confirm your new password.</p>
      <p class="text-red-700" *ngIf="changePasswordForm.get('confirmNewPassword')?.touched&&changePasswordForm.hasError('passwordsDoNotMatch')&&!changePasswordForm.get('confirmNewPassword')!.hasError('required')">Passwords do not match.</p>
    </div>
  </form>
  <ng-container *ngIf="state.state$ | async as state">
    <section class="w-full flex flex-col justify-center items-center">
      <div class="h-20 flex flex-row items-center justify-center">
        <button *ngIf="!state.loadingUser" class="btn btn-accent btn-lg mb-3" (click)="changePassword()" [disabled]="changePasswordForm.invalid">Submit</button>
        <span *ngIf="state.loadingUser" class="loading loading-spinner loading-lg text-primary"></span>
      </div>
    </section>
  </ng-container>
</div>
