<div *ngIf="settings" class="w-full flex justify-center">
  <div class="w-full bg-base-100 shadow-xl flex flex-col items-center p-5 rounded-2xl gap-10 max-w-136">
    <h1 class="text-accent transition-all text-3xl lg:text-4xl text-center marcellus
           font-bold mt-2 mr-2 drop-shadow-md
             select-none">Site Settings</h1>
    <select class="select max-w-full w-72 drop-shadow-md" [(ngModel)]="settings.currency" (change)="updateSettings()">
      <option disabled selected [ngValue]="null">Choose the currency</option>
      <option [ngValue]="'EUR'">Euro</option>
      <option [ngValue]="'USD'">American Dollar</option>
      <option [ngValue]="'RON'">Romanian Lei</option>
    </select>
  </div>
</div>
