<div class="h-56 bg-accent grid grid-cols-2 gap-10 py-10 px-20">
  <div class="flex flex-col justify-center">
    <h1 class="text-xl w-fit text-white transition-all cursor-pointer select-none hover:font-bold">© Graffino Online Store</h1>
    <p class="text-sm text-white select-none">Since 2024</p>
  </div>
  <div class="flex flex-row gap-20 justify-end">
    <div class="flex flex-col items-end">
      <h1 class="text-3xl text-white select-none">Links:</h1>
      <a class="text-lg text-white cursor-pointer hover:underline select-none">Instagram</a>
      <a class="text-lg text-white cursor-pointer hover:underline select-none">YouTube</a>
      <a class="text-lg text-white cursor-pointer hover:underline select-none">Tik Tok</a>
      <a class="text-lg text-white cursor-pointer hover:underline select-none">X</a>
    </div>
    <div class="flex flex-col gap-2">
      <h1 class="text-3xl text-white select-none">Subscribe to our newsletter!</h1>
      <label class="input input-bordered flex items-center gap-2 text-accent">
        Email
        <input type="text" class="grow placeholder-primary" [(ngModel)]="email" placeholder="you@email.com" />
      </label>
      <button class="btn btn-primary" (click)="subscribe()">Subscribe</button>
    </div>
  </div>
</div>
