<div class="grid grid-cols-5 w-screen min-h-136">
  <div class="col-span-1 bg-base-200 p-5 flex flex-col border-r-accent shadow-inner">
    <button class="btn btn-ghost justify-start marcellus text-lg" (click)="selectYourOrders()">Your Orders</button>
    <button class="btn btn-ghost justify-start marcellus text-lg" (click)="selectChangePassword()">Change Password</button>
    <button class="btn btn-ghost justify-start marcellus text-lg" (click)="logout()">Sign Out</button>
  </div>
  <div class="col-span-4 p-10">
    <router-outlet></router-outlet>
  </div>
</div>

