<ng-container *ngIf="orderState.state$ | async as state">
  <div *ngIf="state.order" class="flex flex-col gap-10 p-10 w-full lg:grid lg:grid-cols-5">
    <div class="col-span-3 flex flex-col gap-10">
      <h1 class="text-4xl text-accent font-bold">Order #{{state.order.id}}</h1>
      <div class="flex flex-col gap-4">
        <div *ngFor="let orderDetail of state.order.orderDetails"
             class="w-full bg-base-200 rounded-lg shadow-inner p-5 flex flex-row justify-between">
          <ng-container *ngIf="orderDetail.product as product">
            <div class="flex flex-row gap-5">
              <img (click)="navigateToProduct(product.id)"
                   src="{{product.imageUrl}}" class="max-w-24 rounded-sm drop-shadow-md cursor-pointer transition-all hover:drop-shadow-2xl object-cover" alt="">
              <div class="flex flex-col justify-between">
                <h2 (click)="navigateToProduct(product.id)"
                    class="text-lg transition-all md:text-2xl text-accent cursor-pointer font-bold hover:underline">{{product.name}}</h2>
              </div>
            </div>
            <div class="flex flex-col justify-between items-end gap-4">
              <p class="text-xl transition-all md:text-2xl text-accent font-bold">${{product.price.toFixed(2)}}</p>
              <div class="flex flex-col items-end">
                <p class="text-lg transition-all md:text-xl text-accent cursor-pointer underline hover:font-bold select-none" (click)="addToWishlist(product)">Wishlist</p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-span-2 w-full h-80 p-5 bg-base-200 shadow-inner rounded-xl flex flex-col justify-between gap-4">
      <h1 class="text-4xl font-bold text-accent">Order Summary</h1>
      <div class="flex flex-col gap-2 w-full">
        <div class="flex flex-row justify-between">
          <p class="text-lg">Products Cost:</p>
          <p class="text-xl font-bold">${{getProductsCost(state.order).toFixed(2)}}</p>
        </div>
        <div class="flex flex-row justify-between">
          <p class="text-lg">Transport Cost:</p>
          <p class="text-xl font-bold">$10.00</p>
        </div>
      </div>
      <div class="flex flex-col">
        <h1 class="text-2xl font-bold">Total:</h1>
        <h1 class="text-xl font-bold">${{getTotalCost(state.order).toFixed(2)}}</h1>
      </div>
    </div>
  </div>
</ng-container>
