<ng-container *ngIf="productState.state$ | async as state">
  <div *ngIf="!state.errorCategories && !state.loadingCategories" class="flex flex-row flex-wrap px-10 py-5 gap-4">
    <a *ngFor="let category of state.categories"
       (click)="selectCategory(category.id)"
       class="py-2 px-6 select-none cursor-pointer rounded-full text-white hover:bg-primary transition-all"
       [class.bg-secondary]="selectedCategory !== category.id"
       [class.bg-primary]="selectedCategory === category.id">
       {{category.name}}</a>
  </div>

  <div class="flex flex-col w-full px-10 relative z-[100]">
    <div class="w-full h-14 bg-base-200 shadow-inner drop-shadow-sm rounded-full flex justify-between items-center py-2 px-8">
      <label for="my-drawer">
        <a class="font-bold text-lg bg-white px-4 py-1 rounded-full shadow-inner
                  transition-all select-none
                  drop-shadow-sm cursor-pointer hover:bg-base-300" pRipple>Filters</a>
      </label>
      <input type="text" [(ngModel)]="searchText" (keyup.enter)="search()" placeholder="Search clothing"
             class="input w-full max-w-xs h-9 focus:bg-base-300 hover:bg-base-300 transition-all
                  font-bold text-md placeholder-accent bg-white marcellus rounded-full" />
      <div class="dropdown dropdown-bottom dropdown-end">
        <a tabindex="0" class="font-bold text-lg bg-white px-4 py-1 rounded-full shadow-inner
                  transition-all select-none
                  drop-shadow-sm cursor-pointer hover:bg-base-300">Sort</a>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 gap-2">
          <li>
            <ul>
              <h1 class="text-accent font-bold marcellus text-xl mb-1">Price</h1>
              <li><a class="text-accent font-bold" (click)="sortByPriceAscending()">Ascending</a></li>
              <li><a class="text-accent font-bold" (click)="sortByPriceDescending()">Descending</a></li>
            </ul>
          </li>
          <li>
            <ul>
              <h1 class="text-accent font-bold marcellus text-xl mb-1">Date Added</h1>
              <li><a class="text-accent font-bold" (click)="sortByDateAddedAscending()">Ascending</a></li>
              <li><a class="text-accent font-bold" (click)="sortByDateAddedDescending()">Descending</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="state.filterCriteria" class="drawer z-[1]">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="flex flex-col gap-4 menu p-4 w-80 min-h-full bg-base-200 text-base-content">
          <li>
            <button class="btn btn-accent marcellus text-xl text-white" (click)="clearFilters()">Clear Filters</button>
          </li>

          <li *ngFor="let property of Object.keys(state.filterCriteria)" class="flex flex-col gap-2 w-72">
            <ul class="z-[1] menu p-2 shadow bg-base-100 rounded-box gap-2 m-0">
              <h1 class="bg-base-100 text-xl marcellus text-accent font-bold m-auto mt-2 mb-2">{{property}}</h1>
              <li *ngFor="let value of state.filterCriteria[property]">
                <a class="text-accent font-bold hover:text-accent" (click)="filterProperty(property, value)"
                   [class.bg-accent]="usedProperties.get(property) === value"
                   [class.text-white]="usedProperties.get(property) === value"
                   [class.border-2]="usedProperties.get(property) === value"
                   [class.border-accent]="usedProperties.get(property) === value"
                   [class.hover:border-2]="usedProperties.get(property) === value"
                   [class.hover:border-accent]="usedProperties.get(property) === value">{{value}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <div *ngIf="state.errorProducts || state.loadingProducts"
         class="w-full flex flex-col gap-2 justify-center items-center h-80">
        <span *ngIf="state.loadingProducts" class="loading loading-ring w-20"
              [class.text-red-700]="state.errorProducts"></span>
        <div *ngIf="state.errorProducts &&
             state.errorProducts != 'Error: Server-side error: There are no products matching your search and filter criteria.'; else serverIssue"
             class="flex flex-col items-center">
          <i class="pi pi-exclamation-triangle text-red-700 text-6xl"></i>
          <p class="text-red-700 text-lg">Something went wrong</p>
        </div>
        <ng-template #serverIssue>
          <div *ngIf="state.errorProducts"
               class="flex flex-col items-center">
            <i class="pi pi-exclamation-triangle text-red-700 text-6xl"></i>
            <p class="text-red-700 text-lg">There are no products matching your search and filter criteria</p>
          </div>
        </ng-template>
    </div>
    <div *ngIf="!state.errorProducts && !state.loadingProducts" class="w-full grid grid-cols-4 gap-10 p-10">
      <section *ngFor="let product of state.products" class="card card-compact bg-base-100 drop-shadow-lg transition-all hover:drop-shadow-2xl relative">
        <div *ngIf="isNotOlderThanThreeDays(product.dateAdded)" class="absolute -top-2 -right-2 p-2 notosansjp bg-red-500 text-white font-bold rounded-lg">NEW</div>
        <figure><img (click)="navigateToProduct(product.id)" class="rounded-t-2xl cursor-pointer" src="{{product.imageUrl}}" alt="{{product.name}}"/></figure>
        <article class="card-body flex flex-col justify-between">
          <div>
            <h2 class="card-title text-accent text-2xl">{{product.name}}</h2>
            <div class="flex flex-wrap gap-x-2">
              <h2 class="font-extrabold text-xl text-accent">
                ${{product.price.toFixed(2)}}</h2>
            </div>
          </div>
          <div class="w-full flex flex-row gap-4">
            <button class="btn btn-primary flex-1" (click)="navigateToProduct(product.id)">View Details</button>
            <button class="btn btn-secondary text-white flex-1" (click)="addToCart(product.id, product)">Add To Cart</button>
          </div>
        </article>
      </section>
    </div>
  </div>
</ng-container>


<p-toast></p-toast>
