<div *ngIf="productState.state$ | async as state" class="flex flex-col gap-16 items-center">
  <!--CREATE-->
  <div class="w-126 bg-base-100 shadow-xl flex flex-col items-center p-5 rounded-2xl gap-10">
    <h1 class="text-accent text-4xl marcellus
               font-bold mt-2 mr-2 drop-shadow-md
               select-none">Create Product</h1>
    <select class="select w-full drop-shadow-md" [(ngModel)]="createProductSelectedCategory" (change)="updateCreatePropertiesPropertiesFormGroup()">
      <option disabled selected [ngValue]="null">Choose the category</option>
      <option *ngFor="let category of state.categories" [ngValue]="category">{{ category.name }}</option>
    </select>
    <form *ngIf="createProductSelectedCategory" [formGroup]="createProductForm" (ngSubmit)="createProduct()" class="flex flex-col gap-4 items-center">
      <div class="flex flex-col gap-2">
        <label for="create-product-name" class="marcellus text-accent">Name</label>
        <input type="text" class="input input-bordered w-full max-w-xs" formControlName="name" id="create-product-name"/>
        <p class="text-red-700" *ngIf="createProductForm.get('name')?.touched && createProductForm.get('name')?.hasError('required')">Name is required.</p>
      </div>

      <div class="flex flex-col gap-2">
        <label for="price" class="marcellus text-accent">Price</label>
        <input type="number" min="0" class="input input-bordered w-full max-w-xs" formControlName="price" id="price"/>
        <p class="text-red-700" *ngIf="createProductForm.get('price')?.touched && createProductForm.get('price')?.hasError('required')">Price is required.</p>
        <p class="text-red-700" *ngIf="createProductForm.get('price')?.touched && createProductForm.get('price')?.hasError('min')">Price must be greater than or equal to 0.</p>
      </div>

      <div class="flex flex-col gap-2">
        <label for="imageUrl" class="marcellus text-accent">Image URL</label>
        <input type="text" class="input input-bordered w-full max-w-xs" formControlName="imageUrl" id="imageUrl"/>
        <p class="text-red-700" *ngIf="createProductForm.get('imageUrl')?.touched && createProductForm.get('imageUrl')?.hasError('required')">Image URL is required.</p>
      </div>

      <div *ngFor="let property of createProductSelectedCategory.properties" class="flex flex-col gap-2">
        <label for="{{property.name}}" class="marcellus text-accent">{{property.name}}</label>
        <input type="text" class="input input-bordered w-full max-w-xs" formControlName="{{property.name}}" id="{{property.name}}"/>
        <p class="text-red-700" *ngIf="createProductForm.get(property.name)?.touched && createProductForm.get(property.name)?.hasError('required')">{{property.name}} is required.</p>
      </div>

      <button type="submit" class="btn btn-accent btn-lg mb-3 marcellus" [disabled]="createProductForm.invalid">Create Product</button>
    </form>
  </div>
</div>
