<div *ngIf="productState.state$ | async as state" class="flex flex-col gap-16 items-center">
  <div class="w-full bg-base-100 shadow-xl flex flex-col items-center p-5 rounded-2xl gap-10">
    <h1 class="text-accent text-4xl marcellus
               font-bold mt-2 mr-2 drop-shadow-md
               select-none">Products</h1>
    <select class="select w-96 drop-shadow-md self-center" [(ngModel)]="selectedCategory" (change)="updateSelectedCategory()">
      <option disabled selected [ngValue]="null">Choose the category</option>
      <option *ngFor="let category of state.categories" [ngValue]="category">{{ category.name }}</option>
    </select>
    <p-table
      class="w-full"
      *ngIf="selectedCategory"
      [value]="state.products"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
      dataKey="id"
      editMode="row"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="bg-base-300 text-accent border-l-2 border-b-2 border-base-300" [style.width.%]="calculateColumnWidth()">Id</th>
          <th class="bg-base-300 text-accent border-b-2 border-base-300" [style.width.%]="calculateColumnWidth()">Name</th>
          <th class="bg-base-300 text-accent border-b-2 border-base-300" [style.width.%]="calculateColumnWidth()">Price</th>
          <th class="bg-base-300 text-accent border-b-2 border-base-300" [style.width.%]="calculateColumnWidth()">Image Url</th>
          <th *ngFor="let property of selectedCategory.properties" class="bg-base-300 text-accent border-b-2 border-base-300" [style.width.%]="calculateColumnWidth()">{{property.name}}</th>
          <th class="bg-base-300 text-accent border-r-2 border-b-2 border-base-300" style="width:8%"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-editing="editing">
        <tr [pEditableRow]="product" class="bg-base-200 text-accent border-b-2 border-base-300">
          <td class="border-l-2 border-base-300">
            <span class="hover:underline hover:bg-base-300 p-5 rounded-xl cursor-pointer">{{product.id}}</span>
          </td>
          <td class="border-l-2 border-base-300">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input class="bg-base-200 p-2 rounded border border-accent" type="text" [(ngModel)]="product.name" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{product.name}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td class="border-l-2 border-base-300">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input class="bg-base-200 p-2 rounded border border-accent" type="text" [(ngModel)]="product.price" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{product.price}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td class="border-l-2 border-base-300">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input class="bg-base-200 p-2 rounded border border-accent" type="text" [(ngModel)]="product.imageUrl" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{product.imageUrl}}
              </ng-template>
            </p-cellEditor>
          <td *ngFor="let property of product.productProperties" class="border-l-2 border-base-300">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input class="bg-base-200 p-2 rounded border border-accent" type="text" [(ngModel)]="property.value" required>
              </ng-template>
              <ng-template pTemplate="output">
                {{property.value}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td class="border-l-2 border-base-300">
            <div class="flex align-items-center justify-content-center gap-2">
              <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"></button>
              <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product)"></button>
              <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer" let-totalRecords>
        <tr *ngIf="totalRecords === 0">
          <td [attr.colspan]="1" class="text-center text-red-500 bg-base-200">There are no products</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!--
    <form *ngIf="createProductSelectedCategory" [formGroup]="createProductForm" (ngSubmit)="createProduct()" class="flex flex-col gap-4 items-center">
      <div class="flex flex-col gap-2">
        <label for="create-product-name" class="marcellus text-accent">Name</label>
        <input type="text" class="input input-bordered w-full max-w-xs" formControlName="name" id="create-product-name"/>
        <p class="text-red-700" *ngIf="createProductForm.get('name')?.touched && createProductForm.get('name')?.hasError('required')">Name is required.</p>
      </div>

      <div class="flex flex-col gap-2">
        <label for="price" class="marcellus text-accent">Price</label>
        <input type="number" min="0" class="input input-bordered w-full max-w-xs" formControlName="price" id="price"/>
        <p class="text-red-700" *ngIf="createProductForm.get('price')?.touched && createProductForm.get('price')?.hasError('required')">Price is required.</p>
        <p class="text-red-700" *ngIf="createProductForm.get('price')?.touched && createProductForm.get('price')?.hasError('min')">Price must be greater than or equal to 0.</p>
      </div>

      <div class="flex flex-col gap-2">
        <label for="imageUrl" class="marcellus text-accent">Image URL</label>
        <input type="text" class="input input-bordered w-full max-w-xs" formControlName="imageUrl" id="imageUrl"/>
        <p class="text-red-700" *ngIf="createProductForm.get('imageUrl')?.touched && createProductForm.get('imageUrl')?.hasError('required')">Image URL is required.</p>
      </div>

      <div *ngFor="let property of createProductSelectedCategory.properties" class="flex flex-col gap-2">
        <label for="{{property.name}}" class="marcellus text-accent">{{property.name}}</label>
        <input type="text" class="input input-bordered w-full max-w-xs" formControlName="{{property.name}}" id="{{property.name}}"/>
        <p class="text-red-700" *ngIf="createProductForm.get(property.name)?.touched && createProductForm.get(property.name)?.hasError('required')">{{property.name}} is required.</p>
      </div>

      <button type="submit" class="btn btn-accent btn-lg mb-3 marcellus" [disabled]="createProductForm.invalid">Create Product</button>
    </form>
-->
