<nav
  style="box-shadow: 0px 4px 8px rgba(21, 15, 14, 0.3); height: 15vh;"
  class="navbar bg-gradient-to-t from-base-200 to-white px-10 flex justify-between z-50 relative">
  <!-- LEFT (LOGO) -->
  <section>
    <h1 class="text-black text-4xl marcellus
               font-bold mt-2 mr-2 drop-shadow-md select-none
               cursor-pointer transition-all hover:drop-shadow-2xl"
        (click)="navigateToHome()">LOGO</h1>
  </section>

  <!-- CENTER (LINKS) -->
  <section class="flex flex-row gap-2 absolute left-1/2 transform -translate-x-1/2">
    <h2 class="text-black text-2xl marcellus
               font-bold mt-2 mr-2 drop-shadow-md select-none
               cursor-pointer transition-all hover:drop-shadow-2xl"
        (click)="navigateToHome()">Home</h2>

    <h2 class="text-black text-2xl marcellus
               font-bold mt-2 mr-2 drop-shadow-md select-none
               cursor-pointer transition-all hover:drop-shadow-2xl"
        (click)="navigateToProducts()">Products</h2>
  </section>

  <!-- RIGHT (ACCOUNT) -->
  <section class="flex flex-row gap-2">
    <div *ngIf="!this.user; else loggedIn"
        class="flex flex-col drop-shadow-md items-center
        hover:drop-shadow-2xl transition-all cursor-pointer"
        (click)="navigateToLogin()">
      <i class="pi pi-sign-in text-3xl text-accent"></i>
      <p class="text-sm font-bold">Sign In</p>
    </div>
    <ng-template #loggedIn>
      <div class="flex flex-row gap-10">
        <div class="indicator">
          <span *ngIf="cart!.orderDetails.length > 0" class="indicator-item badge bg-red-400 text-white pointer-events-none">{{cart!.orderDetails.length}}</span>
          <div (click)="navigateToCart()"
               class="flex flex-col drop-shadow-md items-center
               hover:drop-shadow-2xl transition-all cursor-pointer">
            <i class="pi pi-shopping-cart text-3xl text-accent"></i>
            <p class="text-sm font-bold">Cart</p>
          </div>
        </div>
        <div class="flex flex-row gap-10">
          <div class="indicator">
            <span *ngIf="wishlist!.orderDetails.length > 0" class="indicator-item badge bg-red-400 text-white pointer-events-none">{{wishlist!.orderDetails.length}}</span>
            <div (click)="navigateToWishlist()"
                 class="flex flex-col drop-shadow-md items-center
               hover:drop-shadow-2xl transition-all cursor-pointer">
              <i class="pi pi-heart text-3xl text-accent"></i>
              <p class="text-sm font-bold">Wishlist</p>
            </div>
          </div>
        </div>
        <div (click)="navigateToAccount()"
          class="flex flex-col drop-shadow-md items-center
          hover:drop-shadow-2xl transition-all cursor-pointer">
          <i class="pi pi-user text-3xl text-accent"></i>
          <p class="text-sm font-bold">Account</p>
        </div>
        <div *ngIf="this.user!.roles.indexOf('Administrator') !== -1"
            (click)="navigateToAdmin()"
            class="flex flex-col drop-shadow-md items-center
            hover:drop-shadow-2xl transition-all cursor-pointer">
          <i class="pi pi-lock text-3xl text-accent"></i>
          <p class="text-sm font-bold">Admin</p>
        </div>
      </div>
    </ng-template>
  </section>
</nav>
