<ng-container *ngIf="productState.state$ | async as state">
  <ng-container *ngIf="!state.loading && !state.error; else loadingOrError">
    <div *ngIf="state.product as product;" class="p-10">
      <div class="flex flex-col md:flex-row items-center justify-center gap-2">
        <img onclick="image_zoom.showModal()"
             class="md:max-w-96 md:max-h-136 rounded-xl object-cover shadow-gray-400 shadow-lg cursor-zoom-in"
             src="{{product.imageUrl}}" alt="PRODUCT IMAGE">

        <dialog id="image_zoom" class="modal">
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
          <div class="modal-box relative p-0 max-w-fit">
            <div class="absolute modal-action z-20 right-7">
              <form method="dialog">
                <button class="btn btn-circle btn-accent font-bold">
                  <i class="pi pi-times"></i>
                </button>
              </form>
            </div>
            <div class="carousel max-w-fit rounded-lg">
              <div class="carousel-item relative max-w-fit">
                <img src="{{product.imageUrl}}" class="w-256 h-auto"  alt="{{product.name}} Image"/>
              </div>
            </div>
          </div>
        </dialog>
        <section class="xl:col-span-2 w-full md:w-80 lg:w-96 ">
          <div class="flex flex-col bg-base-100 shadow-xl p-5 justify-between gap-16 rounded-lg">
            <div>
              <h1 class="text-3xl font-bold text-primary drop-shadow-md">{{product.name}}</h1>
              <h2 class="text-2xl text-secondary font-bold drop-shadow-md">{{getProductPrice(product.price) | currency : currency : "symbol" : "1.2-2"}}</h2>
            </div>
            <div class="flex flex-col gap-2">
              <h1 class="text-2xl font-bold text-primary drop-shadow-md">Details:</h1>
              <div class="flex flex-col">
                <div *ngFor="let property of product.productProperties" class="flex flex-row gap-2">
                  <h2 class="text-lg text-primary font-bold drop-shadow-md">{{property.property.name}}:</h2>
                  <h2 class="text-lg text-secondary drop-shadow-md">{{property.value}}</h2>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <button class="btn btn-primary transition-all hover:drop-shadow-md" (click)="addToCart(product)">Add To Cart</button>
              <button class="btn btn-secondary text-white transition-all hover:drop-shadow-md" (click)="addToWishlist(product)">Add To Wishlist</button>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="p-10">
      <app-product-recommendation-carousel [title]="'Latest From This Category'" [currentProductId]="state.product!.id" [categoryId]="state.product!.categoryId" [sort]="'datedesc'"></app-product-recommendation-carousel>
    </div>
  </ng-container>
  <ng-template #loadingOrError>
    <div class="flex flex-col min-h-136 h-full w-full items-center justify-center gap-4">
      <span *ngIf="state.loading && !state.error" class="loading loading-ring w-20"></span>
      <div *ngIf="state.error" class="flex flex-col items-center justify-center p-20">
        <i class="pi pi-question-circle text-red-700 text-6xl"></i>
        <div class="flex flex-col items-center">
          <p class="text-red-700 text-xl text-center">Product doesn't exist</p>
          <p class="text-red-700 text-lg underline transition-all cursor-pointer hover:font-bold text-center" (click)="navigateToProducts()">Go back to products</p>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
